h1 {
    font-family: system-ui;
    color: dodgerblue;
    text-shadow: 1px 1px black;
    letter-spacing: -1px;
    padding: 2vw 5vw;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: dodgerblue;
}

#icon {
    font-weight: bolder;
    text-decoration: line-through;
    text-decoration-thickness: 6px;
    text-decoration-color: black;
}
