h1 {
    font-family: system-ui;
    color: dodgerblue;
    text-shadow: 1px 1px black;
    letter-spacing: -1px;
    padding-left: 35px;
}

#icon {
    font-weight: bolder;
    text-decoration: line-through;
    text-decoration-thickness: 6px;
    text-decoration-color: black;
}
