form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 10px;
}

#container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
}

.error-message {
    color: red;
}
